@inherits LayoutComponentBase
@inject ISettingsData settingsData
@inject ISettingsLibrary settingsLibrary

<div>
    <NavMenu />
    <main role="main">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<MudThemeProvider IsDarkMode="isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

@code {
    private SettingsLibrary settings;
    private bool isDarkMode = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadSettings();
    }

    private async Task LoadSettings()
    {
        settings = await settingsData.GetSettingsAsync();
        if (settings is not null)
        {
            isDarkMode = settings.IsDarkMode;
            MapSettings();
        }
        else
        {
            isDarkMode = true;
        }
    }

    private void MapSettings()
    {
        settingsLibrary.Id = settings.Id;
        settingsLibrary.IsDarkMode = settings.IsDarkMode;
        settingsLibrary.DownloadSubtitles = settings.DownloadSubtitles;
    }
}