@inherits LayoutComponentBase
@inject ISettingsData settingsData
@inject ISettingsLibrary settingsLibrary

<div>
    <NavMenu />
    <main role="main">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<MudThemeProvider IsDarkMode="isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

