@inherits LayoutComponentBase
@inject ISettingsData settingsData
@inject ISettingsLibrary settingsLibrary
@inject IDefaultData defaultData


<div>
    <NavMenu />
    <MudContainer MaxWidth="MaxWidth.ExtraLarge">
        <main role="main">
            <article class="content px-4">
                @Body
            </article>
        </main>
    </MudContainer>
</div>

<MudThemeProvider IsDarkMode="_isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

