@inject IVideoLibrary videoLibrary
@inject IVideoLibraryHelper videoLibraryHelper
@inject ISearchHelper searchHelper
@inject IYoutube youtube
@inject ISnackbar snackbar

<MudGrid Spacing="5">
    <MudItem xs="12">
        <MudTextField @bind-Value="_playlistUrl"
                      Class="mb-4"
                      Label="Enter Playlist URL"
                      Variant="Variant.Outlined"
                      Adornment="Adornment.End"
                      AdornmentIcon="@Icons.Material.Filled.Download"
                      OnAdornmentClick="LoadPlaylist"
                      Required="true"
                      Clearable="true" />
    </MudItem>
</MudGrid>
<MudGrid Spacing="5">
    <MudItem xs="12">
        <div class="justify-content-between d-flex align-items-center">
            <div class="mx-3">
                <MudButton Color="Color.Error"
                           Variant="Variant.Outlined"
                @onclick="ClearPlaylists">
                    Clear Playlists
                </MudButton>
            </div>
            <div class="w-100">
                <MudAutocomplete T="string"
                                 Label="@GetSearchBarText()"
                                 Variant="Variant.Outlined"
                                 AdornmentIcon="@Icons.Material.Filled.YoutubeSearchedFor"
                                 OnAdornmentClick="FilterPlaylists"
                                 SearchFunc="SearchPlaylists"
                                 ResetValueOnEmptyText="true" 
                                 ValueChanged="HandleSearchValueChanged"/>
            </div>
            <div class="mx-3">
                <MudButton Color="Color.Success"
                           Variant="Variant.Outlined">
                    Save Playlists
                </MudButton>
            </div>
        </div>
        @if (_visiblePlaylists?.Count > 0 || videoLibrary.Playlists.Count > 0)
        {
            <MudDivider Class="mb-6 mt-6"></MudDivider>
            <MudGrid>
                <MudVirtualize Items="_visiblePlaylists" Context="p" OverscanCount="6">
                    <PlaylistComponent @key="p.PlaylistId"
                                       Playlist="p"
                                       RemoveEvent="(() => RemovePlaylist(p))"
                                       CardSize="4" />
                </MudVirtualize>
            </MudGrid>
            @if (_loadedItems < videoLibrary.PlaylistVideos.Count)
            {
                <div class="text-center mt-4">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                    @onclick="LoadMorePlaylists">
                        Load More
                    </MudButton>
                </div>
            }
        }
    </MudItem>
</MudGrid>


