@inject IPlaylistData playlistData
@inject ISearchHelper searchHelper
@inject ITokenHelper tokenHelper
@inject ISnackbar snackbar
@inject IYoutube youtube

<MudGrid Spacing="5">
    <MudItem xs="12" Class="text-center">
        <div class="justify-content-between d-flex align-items-center">
            <div class="mx-3">
                <MudButton @onclick="OpenDialog"
                           Color="Color.Error"
                           Variant="Variant.Outlined">
                    Delete Playlists
                </MudButton>
            </div>
            <div class="w-100">
                <MudAutocomplete T="string"
                                 Label="@GetSearchBarText()"
                                 Variant="Variant.Outlined"
                                 AdornmentIcon="@Icons.Material.Filled.YoutubeSearchedFor"
                                 OnAdornmentClick="FilterPlaylists"
                                 SearchFunc="SearchPlaylists"
                                 ResetValueOnEmptyText="true"
                                 ValueChanged="HandleSearchValueChanged"/>
            </div>
            <div class="mx-3">
                <MudButton @onclick="UpdateAllPlaylists"
                           Color="Color.Warning"
                           Variant="Variant.Outlined">
                    Update Data
                </MudButton>
            </div>
        </div>
        @if (_visiblePlaylists?.Count > 0 || _playlists?.Count > 0)
        {
            <MudDivider Class="mb-6 mt-6"></MudDivider>
            <MudGrid>
                <MudVirtualize Items="_visiblePlaylists" Context="p" OverscanCount="6">
                    <PlaylistComponent @key="p.PlaylistId"
                                       Playlist="p"
                                       CardSize="4"
                                       RemoveEvent="(() => DeletePlaylist(p))" />
                </MudVirtualize>
            </MudGrid>
            @if (_loadedItems < _playlists.Count)
            {
                <div class="text-center mt-4">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                    @onclick="LoadMorePlaylists">
                        Load More
                    </MudButton>
                </div>
            }
        }
    </MudItem>
</MudGrid>

<MudDialog IsVisible="_isVisible">
    <TitleContent>
        <MudText Typo="Typo.h6">
            Delete all playlists
            <MudIcon Icon="@Icons.Material.Filled.Dangerous"></MudIcon>
        </MudText>
    </TitleContent>
    <DialogContent>
        Deleting all of your playlists is irreversible!
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseDialog" Color="Color.Error">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="DeleteAllPlaylists">Confirm</MudButton>
    </DialogActions>
</MudDialog>

