@inject IVideoLibrary videoLibrary
@inject IYoutube youtube
@inject ITokenHelper tokenHelper
@inject ISearchHelper searchHelper
@inject IFolderHelper folderHelper

<MudGrid Spacing="5">
    <MudItem xs="12" Class="text-center">
        <MudTextField @bind-Value="_videoUrl"
                      Class="mb-4"
                      Label="Input the video's title"
                      HelperText="This is where you input video's title."
                      Variant="Variant.Outlined"
                      Adornment="Adornment.End"
                      AdornmentIcon="@Icons.Material.Filled.Download"
                      OnAdornmentClick="SearchVideos"
                      Required="true"
                      Clearable="true" />
    </MudItem>
</MudGrid>
<MudGrid Spacing="5">
    <MudItem xs="12">
        <div class="justify-content-between d-flex align-items-center">
            <div class="mx-3">
                @if (_tokenSource is not null)
                {
                    <MudButton @onclick="CancelVideoSearch"
                               Color="Color.Error"
                               Variant="Variant.Outlined">
                        Cancel Search
                    </MudButton>
                }
                else
                {
                    <MudButton @onclick="SearchVideos"
                               Color="Color.Success"
                               Variant="Variant.Outlined">
                        Search Videos
                    </MudButton>
                }
            </div>
            <div class="w-100">
                <MudAutocomplete T="string"
                                 Label="@GetVideoSearchBarText()"
                                 Variant="Variant.Outlined"
                                 AdornmentIcon="@Icons.Material.Filled.YoutubeSearchedFor"
                                 OnAdornmentClick="FilterVideos"
                                 SearchFunc="FilterSearchVideos"
                                 ResetValueOnEmptyText="true"
                                 ValueChanged="HandleVideoSearchValueChanged" />
            </div>
            <div class="mx-3">
                <MudButton Color="Color.Warning"
                           Variant="Variant.Outlined"
                @onclick="OpenFileLocation">
                    Open Folder Location
                </MudButton>
            </div>
        </div>
        @if (_visibleVideos?.Count > 0 || videoLibrary.VideoResults?.Count > 0)
        {
            <MudDivider Class="mb-6 mt-6"></MudDivider>
            <MudGrid>
                <MudVirtualize Items="_visibleVideos" Context="v" OverscanCount="6">
                    <VideoComponent @key="v.Id"
                                    Video="v"
                                    CardSize="4"
                                    RemoveEvent="(() => RemoveVideo(v))" />
                </MudVirtualize>
            </MudGrid>
            @if (_loadedItems < videoLibrary.VideoResults?.Count)
            {
                <div class="text-center mt-4">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                    @onclick="LoadMoreVideos">
                        Load More
                    </MudButton>
                </div>
            }
        }
    </MudItem>
</MudGrid>


