@inject IVideoLibrary videoLibrary
@inject ISearchHelper searchHelper
@inject ITokenHelper tokenHelper
@inject ILoadedItemsCache loadedItemsCache
@inject IYoutube youtube

<MudGrid Spacing="5">
    <MudItem xs="12" Class="text-center">
        <MudTextField @bind-Value="_playlistUrl"
                      Class="mb-4"
                      Label="Input the playlist's title"
                      HelperText="This is where you input playlist's title."
                      Variant="Variant.Outlined"
                      Adornment="Adornment.End"
                      AdornmentIcon="@Icons.Material.Filled.Download"
                      OnAdornmentClick="SearchPlaylists"
                      Required="true"
                      Clearable="true" />

    </MudItem>
</MudGrid>
<MudGrid Spacing="5">
    <MudItem xs="12">
        <div class="justify-content-between d-flex align-items-center">
            <div class="mx-3">
                @if (_playlistTokenSource is not null)
                {
                    <MudButton @onclick="CancelPlaylistSearch"
                               Color="Color.Error"
                               Variant="Variant.Outlined">
                        Cancel Search
                    </MudButton>
                }
                else
                {
                    <MudButton @onclick="SearchPlaylists"
                               Color="Color.Success"
                               Variant="Variant.Outlined">
                        Search Playlists
                    </MudButton>
                }
            </div>
            <div class="w-100">
                <MudAutocomplete T="string"
                                 Label="@GetPlaylistSearchBarText()"
                                 Variant="Variant.Outlined"
                                 AdornmentIcon="@Icons.Material.Filled.YoutubeSearchedFor"
                                 OnAdornmentClick="FilterPlaylists"
                                 SearchFunc="FilterSearchPlaylists"
                                 ResetValueOnEmptyText="true"
                                 ValueChanged="HandlePlaylistSearchValueChanged" />
            </div>
            <div class="mx-3">
                <MudButton Color="Color.Warning"
                           Variant="Variant.Outlined"
                @onclick="ClearPlaylists">
                    Clear Playlist
                </MudButton>
            </div>
        </div>
        @if (_visiblePlaylists?.Count > 0 || videoLibrary.PlaylistResults?.Count > 0)
        {
            <MudDivider Class="mb-6 mt-6"></MudDivider>
            <MudGrid>
                <MudVirtualize Items="_visiblePlaylists" Context="p" OverscanCount="6">
                    <PlaylistComponent @key="p.Id"
                                       Playlist="p"
                                       CardSize="4"
                                       RemoveEvent="(() => RemovePlaylist(p))" />
                </MudVirtualize>
            </MudGrid>
            @if (_loadedItems < videoLibrary.PlaylistResults?.Count)
            {
                <div class="text-center mt-4">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                    @onclick="LoadMorePlaylists">
                        Load More
                    </MudButton>
                </div>
            }
        }
    </MudItem>
</MudGrid>


