@inject IVideoLibrary videoLibrary
@inject ISearchHelper searchHelper
@inject ITokenHelper tokenHelper
@inject IYoutube youtube

<MudGrid Spacing="5">
    <MudItem xs="12" Class="text-center">
        <MudTextField @bind-Value="_channelUrl"
                      Class="mb-4"
                      Label="Input the channel's title"
                      HelperText="This is where you input channel's title."
                      Variant="Variant.Outlined"
                      Adornment="Adornment.End"
                      AdornmentIcon="@Icons.Material.Filled.Download"
                      OnAdornmentClick="SearchChannels"
                      Required="true"
                      Clearable="true" />
    </MudItem>
</MudGrid>
<MudGrid Spacing="5">
    <MudItem xs="12">
        <div class="justify-content-between d-flex align-items-center">
            <div class="mx-3">
                @if (_tokenSource is not null)
                {
                    <MudButton @onclick="CancelChannelSearch"
                               Color="Color.Error"
                               Variant="Variant.Outlined">
                        Cancel Search
                    </MudButton>
                }
                else
                {
                    <MudButton @onclick="SearchChannels"
                               Color="Color.Success"
                               Variant="Variant.Outlined">
                        Search Channels
                    </MudButton>
                }
            </div>
            <div class="w-100">
                <MudAutocomplete T="string"
                                 Label="@GetChannelSearchBarText()"
                                 Variant="Variant.Outlined"
                                 AdornmentIcon="@Icons.Material.Filled.YoutubeSearchedFor"
                                 OnAdornmentClick="FilterChannels"
                                 SearchFunc="FilterSearchChannels"
                                 ResetValueOnEmptyText="true"
                                 ValueChanged="HandleChannelSearchValueChanged" />
            </div>
            <div class="mx-3">
                <MudButton Color="Color.Warning"
                           Variant="Variant.Outlined"
                @onclick="ClearChannels">
                    Clear Channels
                </MudButton>
            </div>
        </div>
        @if (_visibleChannels?.Count > 0 || videoLibrary.ChannelResults?.Count > 0)
        {
            <MudDivider Class="mb-6 mt-6"></MudDivider>
            <MudGrid>
                <MudVirtualize Items="_visibleChannels" Context="c" OverscanCount="6">
                    <ChannelComponent @key="c.Id"
                                      Channel="c"
                                      CardSize="4"
                                      RemoveEvent="(() => RemoveChannel(c))" />
                </MudVirtualize>
            </MudGrid>
            @if (_loadedItems < videoLibrary.ChannelResults?.Count)
            {
                <div class="text-center mt-4">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                    @onclick="LoadMoreChannels">
                        Load More
                    </MudButton>
                </div>
            }
        }
    </MudItem>
</MudGrid>


