@page "/Playlist/{Url}"
@inject IYoutube youtube
@inject IPlaylistData playlistData
@inject ISnackbar snackbar
@inject ILauncher launcher
@inject NavigationManager navManager

@if (IsPlaylistNull() is false)
{
    <MudGrid Spacing="5">
        <MudItem xs="12">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        @_playlist.Title
                    </CardHeaderContent>
                    <CardHeaderAvatar>
                        <MudAvatar>
                            <MudImage Src="@_playlist.AuthorThumbnailUrl"></MudImage>
                        </MudAvatar>
                    </CardHeaderAvatar>
                </MudCardHeader>
                <MudCardMedia Image="@_playlist.ThumbnailUrl"/>
                <MudCardContent>
                    <MudLink Typo="Typo.h5" @onclick="OpenUrl">@_playlist.Url</MudLink>
                    <MudText Typo="Typo.body2">Uploaded @_videos?.Count videos</MudText>
                </MudCardContent>
                <MudCardActions>
                    @if (_isSaved)
                    {
                        <MudButton Variant="Variant.Text" Color="Color.Error" @onclick="DeletePlaylist">
                            Delete
                        </MudButton>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="SavePlaylist">
                            Save
                        </MudButton>
                    }
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12">
            <MudDivider />
            <MudText Typo="Typo.h5" Class="mb-4 mt-4">Videos</MudText>
            <MudAlert Severity="Severity.Warning">Warning: Only shows 50 videos for performance.</MudAlert>
            <MudGrid>
                <MudVirtualize Items="_visibleVideos" Context="v" OverscanCount="6">
                    <VideoComponent @key="v.VideoId"
                                    Video="v"
                                    CardSize="6"
                                    RemoveEvent="RemoveVideo" />
                </MudVirtualize>
            </MudGrid>
            @if (_loadedItems < _videos.Count)
            {
                <div class="text-center mt-4">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                    @onclick="LoadMoreVideos">
                        Load More
                    </MudButton>
                </div>
            }
        </MudItem>
    </MudGrid>
}

<LoadingDialog IsVisible="IsPlaylistNull()" />

