@page "/Watch/{Url}"
@inject IYoutube youtube
@inject IVideoData videoData
@inject ILauncher launcher

@if (IsVideoNull() is false)
{
    <MudCard>
        <div class="text-center">
            <iframe class="w-100" style="height: 600px;" src="@_sourcePath" allowfullscreen />
        </div>
        <MudCardContent>
            <MudItem>
                <MudLink Typo="Typo.h5" @onclick="(() => OpenUrl(_video.Url))">
                    @_video?.Title
                </MudLink>
            </MudItem>
            <MudStack Row="true" Justify="Justify.FlexStart">
                <MudItem>
                    <MudAvatar>
                        <MudImage title="@_video?.AuthorName" Src="@_channel?.ThumbnailUrl" />
                    </MudAvatar>
                </MudItem>
                <MudItem>
                    <MudButton Typo="Typo.body1" @onclick="(() => OpenUrl(_video.AuthorUrl))">
                        @_video?.AuthorName
                    </MudButton>
                </MudItem>
            </MudStack>
            <MudText Typo="Typo.body2" Class="mt-5">
                Uploaded: @_video?.UploadDate.ToString("MMMM d, yyyy")
            </MudText>
            <MudDivider Class="mt-5 mb-5" />
            <MudText Typo="Typo.body2">
                @(
                    (MarkupString)FormatDescription()
                    )
            </MudText>
        </MudCardContent>
    </MudCard>
}

<LoadingDialog IsVisible="IsVideoNull()"/>

