@page "/Watch/{Url}"
@inject IYoutube youtube
@inject ISnackbar snackbar

<MudCard>
    <div class="text-center">
        <iframe class="w-100" style="height: 600px;" src="@SourcePath" allowfullscreen />
    </div>
    <MudCardContent>
        <MudItem>
            <MudLink Typo="Typo.h5" @onclick="(() => CopyToClipboard(Video.Url))">
                @Video?.Title
            </MudLink>
        </MudItem>
        <MudItem>
            <MudAvatar>
                <MudImage title="@Video?.AuthorName" Src="@_channel?.ThumbnailUrl" />
            </MudAvatar>
        </MudItem>
        <MudItem>
            <MudLink Color="Color.Warning" Typo="Typo.body1" @onclick="(() => CopyToClipboard(Video.AuthorUrl))">
                @Video?.AuthorName
            </MudLink>
        </MudItem>
        <MudText Typo="Typo.body2">Uploaded: @Video?.UploadDate</MudText>
        <MudDivider Class="mt-5 mb-5"/>
        <MudText Typo="Typo.body2">
           @(
            (MarkupString)FormatDescription()
           )
        </MudText>
    </MudCardContent>
</MudCard>


