@page "/Watch/{Url}"
@inject IYoutubeDownloader youtubeDownloader

<MudCard>
    <div class="text-center">
        <iframe class="w-100" style="height: 600px;" src="@SourcePath" allowfullscreen />
    </div>
    <MudCardContent>
        <MudText Typo="Typo.h5">@Video?.Title</MudText>
        <MudText Typo="Typo.body2">@Video?.Author</MudText>
        <MudText Typo="Typo.body2">Uploaded: @Video?.UploadDate</MudText>
        <MudDivider Class="mt-5 mb-5"/>
        <MudText Typo="Typo.body2">
           @(
            (MarkupString)FormatDescription()
           )
        </MudText>
    </MudCardContent>
</MudCard>


